<div class="container">
	{{#if nosubmissions}}

	<div class="alert alert-dark">You have not uploaded any submissions, so you have been logged out. <a href="/" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a></div>
	{{/if}}
  {{#if title}}
  <h3 class="page-header">{{title}}</h3>
  {{else}}
  <h3 class="page-header cta">Vote for your favourite photo</h3>
  {{/if}}
  <p class="category-links">
  	<a href="/cat/herethere">Indonesia Here and There</a>
  	<a href="/cat/people">Indonesian People Then and Now</a>
  	<a href="/cat/redwhite">Red and White</a>
  </p>
	<div class="submission-list" id="submissionList">
	{{#each submissions}}
		<div class="submission">
			<a href="{{viewUrl}}"><img src="{{smallUrl}}" alt=""></a>
		</div>
	{{/each}}	
	</div>
	{{!-- <div class="pagination-wrapper">
		{{pagination}}
	</div> --}}
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.infinite-scroll-helper.min.js"></script>
<script>
var imgs = {{{imgsJson}}};
var perPage = 30;
var submissionList = $('#submissionList');

submissionList.infiniteScrollHelper({
  loadMore: function(page, done) {
  	console.log(page);
    var start = (page - 1) * perPage;
    var end = Math.min(start + perPage, imgs.length);
    console.log(start);
    console.log(end);
    var newHtml = '';
    for (var i = start; i < end; ++i) {
    	var img = imgs[i];
    	newHtml += '<div class="submission"><a href="' + img.v + '"><img src="' + img.i + '" alt=""></a></div>';
    }

    console.log(newHtml);
    submissionList.append(newHtml);

    onImagesLoaded();
    done(true);
  }
});

function onImagesLoaded() {
	var imgs = document.querySelectorAll('#submissionList img');
	for (var i = 0; i < imgs.length; ++i) {
		var img = imgs[i];
		if (img.width < img.height) {
			img.parentNode.parentNode.className = 'submission tall';
		}
	}
	new Masonry('#submissionList');
}
imagesLoaded('#submissionList', onImagesLoaded);
</script>